@using LegoBlazor.Data
@using Radzen
@using Radzen.Blazor
@inherits LegoBlazor.Tools.ModelControl<Produit>

<RadzenCard Style="width:600px; margin-bottom: 20px; height:300px;">
    <div class="row">
        <div class="col-md-6">
            <div style="margin-top:20px">Nom:</div>
            <b>@Value.Nom</b>
            <br />
            <RadzenImage Path="@Value.Image" Style="width:100px;" />
        </div>
        <div class="col-md-6">
            <div>Nbre de pièces :</div>
            <b>@Value.NombrePieces</b>
            <div style="margin-top:20px">Numéro:</div>
            <b>@Value.Numero</b>
            <div style="padding:20px">
                <RadzenRadioButtonList @bind-Value="Value.Etat" TValue="int">
                    <Items>
                        <RadzenRadioButtonListItem Text="Monté" Value="1" />
                        <RadzenRadioButtonListItem Text="Démonté" Value="2" />
                    </Items>
                </RadzenRadioButtonList>
            </div>
        </div>>
    </div>
</RadzenCard>

@code {

}
